<div class="item-card">
    <h3>{{item.description}}</h3>
    <small>{{this._id}}</small>
    <p>category: {{item.category}}</p>
    <p>price: {{item.price}}</p>
    <button>Add to cart</button>
</div>