<div>
    <h1>Login</h1>
    <form action="" id="loginForm">
        <label for="email">Email</label>
        <input type="text" name="email" />
        <br/>
        <br/>
        <label for="password">Password</label>
        <input type="password" name="password" />
        <br/><br/>
        <button type="submit">Login</button>
    </form>
</div>

<div>
    <a href="/api/sessions/github"><button>Use github to login</button></a>
</div>

<script src="/js/login.js"></script>