<h1>Register</h1>

<form id='registerForm'>
  <label>Name</label>
  <input name='name' type="text">
  <br>
  <label>Lastname</label>
  <input name='lastname' type="text">
  <br>
  <label>Age</label>
  <input name='age' type="text">
  <br>
  <label>Email</label>
  <input name='email' type="text">
  <br>
  <label>Password</label>
  <input name='password' type="password">
  <br>
  <button type='submit'>Register</button>
</form>
<p>Do you have an account?
  <a href="/login">Login</a>
</p>

<script src='/js/register.js'></script>