<h1>Cookies!</h1>

<form action="/cookies" method='post' id='myForm'>
  <div>
    <label for="name">Name</label>
    <input type="text" name='name'>
  </div>
  <br>
  <div>
    <label for="email">Email</label>
    <input type="text" name='email'>
  </div>
  <br>

  <button type='submit'>Set Cookies</button>
</form>
<br>
<button onclick='getCookies()'>Get Cookies</button>

<script src='js/cookies.js'></script>