<h1>Reset Password</h1>

<form action="" id='passwordResetForm'>
  <label for="email">Email</label>
  <input type="text" name='email' />
  <br>
  <label for="password">New Password</label>
  <input type="password" name='password' />
  <br>
  <label for="passwordConfirm">Repeat New Password</label>
  <input type="password" name='passwordConfirm' />
  <br>
  <span class='errorMessage' id='errorMessage'>{{error}}</span>
  <br>
  <button type="submit">Reset Password</button>
  <br>
  <p>Return to
    <a href="/login">LOGIN</a>
  </p>
  <br>

</form>

<script src="/js/resetPassword.js"></script>