<h1>ChatMe!</h1>

<input type='text' id='chatInput' />

<p id='chatMessage'></p>





{{!-- Para tener acceso a socket.io --}}
<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>