/*? PROFILE  */

.profile {
  color: rgb(192, 192, 192);
}

.userData {
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgb(0, 106, 255);
  line-height: 1.4rem;
  min-width: 350px;
  background-color: rgba(245, 245, 245, 0.05);
}


.profile .userData span {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: .4rem;
  color: whitesmoke
}